<div *ngIf="roomState | async as room"
     class="u-height-100 bg-color-blue">
    <div *ngIf="!room.loading"
         style="padding: 20px;"
         class="u-fontFamily-CircularStd-Black u-height-100"
         fxLayout="column">
        <div fxFlex="20%">
            <app-score-board fxFlex="none"
                             class="u-display-block u-width-100"
                             [room]="room">
            </app-score-board>
        </div>
        <div fxFlex="80%"
             class="color-white"
             style="font-size: 42px; margin-top: 20px;">
            <div>Ayyyyyy</div>
            <div>{{(room.teams | appWinningTeam)?.name}} Wins!</div>
        </div>
        <ng-container *ngIf="playerState | async as user">
            <div *ngIf="user.vip"
                 class="u-marginBottom-20 alt-theme">
                <button mat-raised-button
                        color="primary"
                        (click)="playAgain(room)"
                        class="u-width-100 c-btn c-btn-bottom-border--light-blue">
                    <div [innerHTML]="'Play Again'"></div>
                </button>
            </div>
        </ng-container>
    </div>
    <ng-container *ngIf="room.loading">
        <app-loading-view></app-loading-view>
    </ng-container>
</div>

