<div fxLayout="column"
     class="u-height-100"
     [ngStyle]="{ 'font-size': '35px' }">
    <div fxFlex="100%"
         fxLayout="column"
         fxLayoutAlign="center start">
        <div fxFlex="none">
            <ng-container *ngIf="lineOne">
                <div [innerHTML]="lineOne"></div>
            </ng-container>
            <ng-container *ngIf="lineTwo">
                <div [innerHTML]="lineTwo"></div>
            </ng-container>
            <ng-container *ngIf="lineThree">
                <div [innerHTML]="lineThree"></div>
            </ng-container>
        </div>
    </div>
</div>
