.nameTag--hover:hover .nameTag {
    background-color: #e6e6e6;
}

.nameTag--hover:hover .vipTag {
    background-color: #e6e6e6;
}

.nameTag--hover:hover .closeNameTag {
    background-color: #e6e6e6;
}
