.inputLabel {
    font-size: 15px;
    color: #D5D5D3;
    text-align: center;
    margin-bottom: 20px;
}

.inputEmpty {
    opacity: 0.36;
}

.inputExists {
    opacity: 1;
    color: black;
}

.c-btn--name--disabled {
    cursor: default;
}

.c-btn--grey {
    color: white;
    background-color: #D5D5D3;
    border-bottom: 5px solid #e6e6e5;
}

.c-btn-bottom-border--light-black {
    border-bottom: 5px solid #666 !important;
}




