<ng-container *ngIf="!(roomState | async).loading">
    <div [ngStyle]="{ 'padding': '20px 20px 30px 20px' }"
         class="u-fontFamily-CircularStd-Black u-height-100"
         fxLayout="column">
        <div fxLayout="row"
             fxFlex="none">
            <div fxFlex="0 0 33%"
                 fxLayout="row"
                 fxLayoutAlign="start center">
                <button (click)="goBack()"
                        mat-icon-button
                        class="color-black">
                    <i class="material-icons"
                       style="font-size: 40px;">
                        chevron_left
                    </i>
                </button>
            </div>
            <div fxFlex="33%">
                <app-room-code class="u-display-block"
                               [roomCode]="(roomState | async).code">
                </app-room-code>
            </div>
            <div fxFlex="33%"
                 fxLayout="row"
                 fxLayoutAlign="end center">
                <a (click)="showRules()"
                   [ngStyle]="{ 'cursor': 'pointer' }"
                   class="u-textTransform-uppercase u-fontFamily-GoodDog u-fontSize-20">
                    Rules
                </a>
            </div>
        </div>
        <div fxFlex="100%"
             [ngStyle]="{ 'margin': '20px 0' }">
            <div fxLayout="row"
                 style="overflow: auto; height: 280px; box-shadow: inset 0 -10px 15px -5px #e6e6e6;">
                <div *ngFor="let team of (roomState.getValue().players | appSortByTeams); let index = index"
                     fxFlex="50%">
                    <app-players-list [players]="team.players"
                                      (onDragStart)="dragStart($event)"
                                      (remove)="removePlayerFromRoom($event)"
                                      [dataToTransfer]="dataToTransfer"
                                      [user]="playerState | async"
                                      (switchPlayerToNewTeam)="switchPlayerToNewTeam($event, roomState.getValue())"
                                      [teamName]="team.teamName"
                                      [teamId]="index + 1"
                                      [alignment]="team.listAlignment">
                    </app-players-list>
                </div>
            </div>
            <div *ngIf="playerState | async as user"
                 [ngStyle]="{ 'margin': '20px 0' }">
                <button mat-raised-button
                        color="primary"
                        class="c-btn u-width-100"
                        (click)="switchTeams(user)">
                    Switch Teams
                </button>
            </div>
        </div>
        <div fxFlex="none">
            <ng-container *ngIf="playerState | async as user">
                <ng-container *ngIf="user.vip && !user.loading">
                    <div class="color-grey u-textAlign-Center"
                         [ngClass]="{ 'color-black': roomIsReadyToStart(roomState.getValue()), 'color-grey': !roomIsReadyToStart(roomState.getValue()) }"
                         style="margin-bottom: 10px;">
                        press
                    </div>
                    <div [ngStyle]="{ 'margin-bottom': '10px' }">
                        <button mat-raised-button
                                color="accent"
                                class="c-btn u-width-100"
                                (click)="goToGame(roomState.getValue(), user)"
                                [ngClass]="{ 'c-btn-bottom-border--light-black': roomIsReadyToStart(roomState.getValue()), 'c-btn--grey c-btn--game--disabled': !roomIsReadyToStart(roomState.getValue()) }">
                            Everybody's in
                        </button>
                    </div>
                    <div class="color-grey u-textAlign-Center"
                         [ngClass]="{ 'color-black': roomIsReadyToStart(roomState.getValue()), 'color-grey': !roomIsReadyToStart(roomState.getValue()) }"
                         style="margin-bottom: 10px;">
                        to start the game.
                    </div>
                </ng-container>
                <ng-container *ngIf="!user.vip && !user.loading">
                    <div class="u-textAlign-Center u-fontFamily-CircularStd-Black u-fontSize-20"
                         [ngStyle]="{ 'margin': '20px 0' }">
                        Sit back, and fucking chill.
                    </div>
                </ng-container>
            </ng-container>
        </div>
    </div>
</ng-container>
<ng-container *ngIf="(roomState | async).loading">
    <app-loading-view></app-loading-view>
</ng-container>

