<div [ngStyle]="{ 'position': 'relative' }">
    <div [ngStyle]="{ 'position': 'absolute' }">
        <app-loading-view class="u-display-block"></app-loading-view>
    </div>
    <div [ngStyle]="{ 'position': 'absolute', 'z-index': '1' }"
         class="u-width-100">
        <div>
            <button mat-icon-button
                    [mat-dialog-close]>
                <i class="material-icons">close</i>
            </button>
        </div>
        <div [ngStyle]="{ 'padding-top': '20px' }"
             fxLayout="row">
            <img fxShow.xs="true"
                 fxShow="false"
                 [ngStyle]="{ 'margin': '0 auto' }"
                 fxFlex="none"
                 src="https://firebasestorage.googleapis.com/v0/b/monikersgame.appspot.com/o/Rules-mobile.png?alt=media&token=1a00e81c-78c7-42ce-8c41-e4c5c9afe7f8">
            <img fxShow.gt-xs="true"
                 fxShow="false"
                 [ngStyle]="{ 'margin': '0 auto' }"
                 fxFlex="none"
                 src="https://firebasestorage.googleapis.com/v0/b/monikersgame.appspot.com/o/Rules.png?alt=media&token=572fc23b-e5c0-4b67-834b-f11684a3b9da">
        </div>
    </div>
</div>
