$blue: #00BBFF;
$light-blue: #99e4fe;
$black: #000;
$light-black: #804e53;
$white: #FFF;
$darken-white: #ffccd1;
$red: #FF3339;
$grey: #D5D5D3;
$green: #22e6a3;
$darken-green: #20d396;
$darken-red: #c40003;
$darken-blue: #0083b3;
