.c-fullscreenWindow {
    background-color: #FFF;
}

.c-fullscreenWindow.cdk-overlay-backdrop-showing {
    opacity: 1;
}

.c-fullscreenWindow-panel {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: scroll;
}
