<div *ngIf="roomState | async as room"
     class="u-fontFamily-CircularStd-Black u-height-100">
    <ng-container *ngIf="!isLoading && GLOBAL_WORD_BANK.length">
        <ng-container *ngIf="playerState | async as player">
            <div *ngIf="!playerIsLoading"
                 fxLayout="column"
                 fxFlex="100%"
                 [ngStyle]="{ 'padding': '20px 20px 30px 20px' }">
                <div fxLayout="row"
                     fxFlex="none">
                    <div fxFlex="0 0 33%"
                         fxLayout="row"
                         fxLayoutAlign="start center">
                        <a href="javascript: void(0)"
                           (click)="goBack(room.code)"
                           mat-icon-button
                           class="color-black">
                            <i class="material-icons"
                               style="font-size: 40px;">
                                chevron_left
                            </i>
                        </a>
                    </div>
                    <div fxFlex="0 0 33%">
                        <app-room-code class="u-display-block"
                                       [roomCode]="room.code">
                        </app-room-code>
                    </div>
                    <div fxFlex="0 0 33%"></div>
                </div>
                <div fxFlex="0 0 calc(100% - 111px)"
                     [ngStyle]="{ 'max-width': '550px' }">
                    <div [ngStyle]="{ 'margin': '20px 0' }">
                        <div class="inputLabel">
                            Enter a word or phrase
                        </div>
                        <div>
                            <form novalidate
                                  (ngSubmit)="onSubmit(inputForm.value, editIndex)">
                                <mat-form-field [appearance]="'fill'"
                                                [ngStyle]="{ 'width': '100%', 'font-family': 'CircularStd-Black' }"
                                                [color]="'accent'">
                                    <input matInput
                                           #input
                                           autofocus
                                           [formControl]="inputForm"
                                           [ngClass]="{ 'inputExists': inputForm.value, 'inputEmpty': !inputForm.value }"
                                           [ngStyle]="{ 'text-align': 'center', 'font-size': '25px' }"
                                           [ngStyle.gt-sm]="{ 'text-align': 'center', 'font-size': '30px' }"                                           type="text"
                                           [placeholder]="inputPlaceholder"
                                           autocomplete="off">
                                </mat-form-field>
                            </form>
                        </div>
                        <div *ngFor="let empty of EMPTY_WORDS_ARRAY; let index = index"
                             fxLayout="row"
                             [ngStyle]="{ 'margin-bottom': '5px' }"
                             class="u-width-100 u-fontFamily-CircularStd-Black">
                            <button mat-button
                                    (click)="submitCurrentWord(index);setFormToEdit(index)"
                                    [ngClass]="{ 'u-border-black u-border-radius bg-color-grey': index === editIndex }"
                                    class="c-button u-width-100">
                                <div fxLayout="row">
                                    <div [ngStyle]="{ 'margin-right': '10px' }"
                                         fxFlex="0 0 10px"
                                         class="u-fontSize-16">
                                        {{ index + 1}}
                                    </div>
                                    <div fxFlex="0 0 calc(100% - 10px)"
                                         class="u-textAlign-Left">
                                        {{getFormControl(index).value}}
                                    </div>
                                </div>
                            </button>
                        </div>
                    </div>
                    <ng-container *ngIf="!hasEnoughWords()">
                        <div fxLayout="row"
                             fxLayoutAlign="center center">
                            <button mat-raised-button
                                    fxFlex="none"
                                    type="button"
                                    color="accent"
                                    class="c-btn"
                                    (click)="fillInTheBlanks(GLOBAL_WORD_BANK)">
                                Fill in the blanks
                            </button>
                        </div>
                    </ng-container>
                </div>
                <div *ngIf="room.started"
                     class="u-textAlign-Center">
                    Chill out, a game is currently in progress.
                </div>
                <div *ngIf="!room.started">
                    <button mat-raised-button
                            color="accent"
                            class="c-btn u-width-100"
                            (click)="submitWordList(room, player)"
                            [ngClass]="{ 'c-btn-bottom-border--light-black': hasEnoughWords(), 'c-btn--grey c-btn--word--disabled': !hasEnoughWords() }">
                        {{ 3 <= autoFilledWords.length ? 'Yep, I\'m lazy AF' : 'Yep, got five words' }}
                    </button>
                </div>
            </div>
            <div *ngIf="playerIsLoading">
                <app-loading-view></app-loading-view>
            </div>
        </ng-container>
    </ng-container>
    <div *ngIf="isLoading && !GLOBAL_WORD_BANK.length">
        <app-loading-view></app-loading-view>
    </div>
</div>
