<div *ngIf="roomsState | async as rooms"
     [ngStyle]="{ 'padding': '20px 20px 30px 20px' }"
     class="u-fontFamily-CircularStd-Black u-height-100"
     fxLayout="column">
    <ng-container *ngIf="!isLoading">
        <div fxLayout="row"
             fxFlex="none">
            <div fxFlex
                 fxLayout="row"
                 fxLayoutAlign="start center">
                <a routerLink="/"
                   mat-icon-button
                   class="color-black">
                    <i class="material-icons"
                       style="font-size: 40px;">
                        chevron_left
                    </i>
                </a>
            </div>
        </div>
        <div fxLayout="column"
             fxFlex>
            <div fxFlex="15%"></div>
            <div fxFlex="85%">
                <form (ngSubmit)="goToCreate(rooms, form.value.code)"
                      novalidate
                      class="u-height-100">
                    <div fxLayout="column"
                         class="u-height-100">
                        <div fxFlex="15%"
                             fxLayout="column">
                            <div class="inputLabel u-marginBottom-20">
                                What is your room code bruh?
                            </div>
                            <div fxLayout="row"
                                 fxLayoutAlign="center">
                                <mat-form-field [appearance]="'outline'"
                                                [color]="'accent'">
                                    <input class="u-textTransform-uppercase"
                                           matInput
                                           [formControl]="form"
                                           [ngStyle]="{ 'font-family': 'CircularStd-Black', 'text-align': 'center', 'font-size': '30px' }"
                                           [ngClass]="{ 'inputExists': form.value, 'inputEmpty': !form.value }"
                                           type="text"
                                           autocomplete="off"
                                           maxlength="4"
                                           autofocus/>
                                </mat-form-field>
                            </div>
                        </div>
                        <div fxFlex="85%"
                             fxLayout="column"
                             fxLayoutAlign="end center">
                            <div fxFlex="none"
                                 class="u-width-100">
                                <button mat-raised-button
                                        color="accent"
                                        class="c-btn u-width-100"
                                        (click)="goToCreate(rooms, form.value)"
                                        [ngClass]="{ 'c-btn-bottom-border--light-black': hasInputCode(), 'c-btn--grey c-btn--name--disabled': !hasInputCode() }">
                                    Yeah, that's the room code
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </ng-container>
    <ng-container *ngIf="isLoading">
        <app-loading-view></app-loading-view>
    </ng-container>
</div>

